<script>
  var count=<%=count%>;
  
</script>
<div class="searchInput">
  <div class="searchInner">
    <form action="/search">
      <input type="text" name="keyWords" id="keyWords" required  lay-verify="required" placeholder="关键词" autocomplete="off" class="layui-input searchKeyWord" value="<%=keyWords%>">
      <button type="submit" class="layui-btn">搜索</button>
    </form>
  </div>
 
</div>
<div class="searchList">
  <ul>
    <% for(var i=0;i<rows.length;i++){ %>
      <li onclick='window.open("/detail/<%=rows[i].ContentId%>")'>
        <span class="itemLeft"><%=rows[i].Title%></span>
        <span class="itemRight"><%=rows[i].CreatedTime%></span>
      </li>
    <% } %>
  </ul>
  
  <div id="page"></div>
</div>