<script>
  var count=<%=count%>

</script>

<div class="contentList">
  <div class="contentBreadCrumb">
    <span class="layui-breadcrumb">
      <a href="/">首页</a>
      <a><cite>
          <%=Name%>
        </cite></a>
    </span>
  </div>
  <div class="newsList">
    <ul>
      <% for(var i=0;i<rows.length;i++){ %>
        <li onclick='window.open("/detail/<%=rows[i].ContentId%>")'>
          <span class="itemLeft"><%=rows[i].Title%></span>
          <span class="itemRight"><%=rows[i].CreatedTime%></span>
        </li>
      <% } %>
    </ul>
    <div id="page"></div>
  </div>
</div>